body {
  justify-content: center;
  background-image: url("./assets/background.jpg");
}
#test {
  display: none;
}
#end {
  display: none;
  font-size: 36px;
}
#scoreboard-section {
  display: none;
}
button {
  background: #f4cfdf;
  border-radius: 5px;
  width: 150px;
  height: 120%;
  padding: 10px;
  margin: auto;
  border-style: dashed;
  border-color: #f4cfdf;
  color: white;
  font-size: 20px;
}
button:hover {
  background: white;
  color: #f4cfdf;
}
section {
  width: 40%;
  text-align: center;
  margin: auto;
}
h1 {
  font-size: 45px;
  margin: auto;
  margin-top: 25%;
  margin-bottom: 30px;
  background-color: #9ac8eb;
  padding: 20px;
  color: white;
  border-radius: 15px;
  width: 50%;
}
#startbutton {
  font-size: 24px;
}
#highscorelist {
  font-size: 20px;
  width: 175px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 10px 0px;
  font-size: 24px;
  color: white;
  background-color: #9ac8eb;
  width: 15%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
}
h3 {
  background-color: #9ac8eb;
  font-size: 28px;
  color: white;
  width: 40%;
  margin: auto;
  margin-top: 5%;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 15px;
}
div {
  font-size: 20px;
  margin: 30px;
}
#timer {
  display: inline;
  position: relative;
  right: 6%;
}
#score {
  display: inline;
  position: relative;
  left: 6%;
}
h2 {
  font-size: 38px;
  color: white;
  background-color: #f4cfdf;
  width: 200px;
  margin: auto;
  border-radius: 15px;
  padding: 10px;
}
input {
  width: 60px;
  height: 20px;
  font-size: 28px;
  margin-bottom: 20px;
}
#highscore {
  display: inline;
  font-size: 36px;
  padding: 0px 5px 0px 5px;
}
p {
  color: white;
  font-size: 24px;
}
label {
  font-size: 30px;
  background-color: #9ac8eb;
  color: white;
  border-radius: 15px;
  padding: 6px;
  margin: 15px;
}
#scoreboard-title {
  width: 40%;
  margin: 50px auto 20px auto;
}
.button {
  width: 200px;
}
.bli {
  background-color: #f4cfdf;
}
@media only screen and (max-width: 768px) {
  #highscorelist {
    display: block;
    font-size: 36px;
    width: 30%;
  }
  h1 {
    align-self: center;
    width: 90%;
  }
  #startbutton {
    display: block;
    font-size: 36px;
    width: 100%;
    margin: auto;
  }
  section {
    justify-content: center;
  }
  .button {
    margin: auto;
    width: 100%;
    font-size: 30px;
  }
  ul {
    width: 100%;
  }
  li {
    width: 40%;
  }
  h3 {
    font-size: 30px;
    width: 80%;
  }
  #scoreboard-title {
    width: 40%;
    padding: auto;
    margin: auto;
    margin-bottom: 20px;
  }
  #scoreboard-section {
    width: 80%;
  }
}
